<template>
  <div id="vip">
    vip - home
    <van-button type="default">默认按钮</van-button>
  </div>
</template>
<style lang="less" scope>
#vip {
  margin: 10px;
  font-size: 16px;
}
.van-button {
  width: 301px;
  height: 50px;
  background-color: #ddd;
  border-radius: 25px;
  border: solid 1px #ddd;
  opacity: 0.8;
  font-size: 18px;
}
</style>
