<template>
  <div id="app">
    <!-- <div>
      <van-icon class-prefix="iconfont" name="jingyin" />
      <van-icon name="ascending" />
    </div> -->
    <router-view />
  </div>
</template>

<style lang="less">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
