<template>
  <div class="normal-home">
    <van-button type="default" @click.native="BLL.test">默认按钮</van-button>
  </div>
</template>

<script>
import BLL from './normal-home.js';
export default {
  created() {
    this.BLL = new BLL(this);
  }
};
</script>
<style lang="less" scoped>
@import url('./normal-home.less');
</style>
